In [1]:
# IMPORTS
import re
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from sklearn.feature_extraction.text import CountVectorizer
import os
import json

In [ ]:
# This is a very creaky way to load data


x = 1
directory = "C:\\Users\Connor\Desktop\letterboxd\letterboxdCorpus"
for filename in os.listdir(directory):
        if filename.endswith('.json'):
            file_path = os.path.join(directory, filename)
            with open(file_path, 'r') as file:
                data = json.load(file) 
                

#print(strings[0])

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [10]:
df = pd.read_csv('C:\\Users\Connor\Desktop\\370\letterboxdCorpus\\all.csv')
df.head()
reviews = df.reviews.tolist()

In [11]:
#def stringsToDataframe(arr):
vectorizer = CountVectorizer(min_df=2, lowercase = True, stop_words = 'english')
X = vectorizer.fit_transform(reviews)
X.shape

(25344, 23662)

In [12]:
df2 = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
#df2 = df2.div(df2.sum(axis=1), axis=0)
df2

,000,007,00s,08,09,10,100,1000,10000,100th,...,Ã¶stlund,Åshima,Å¼uÅ‚awski,áµƒâ¿áµˆ,áµˆáµ’,ğŒğšğ«ğ ğ¨ğ­,ğ‘ğ¨ğ›ğ›ğ¢ğ,ğšğ©ğ©ğ«ğğœğ¢ğšğ­ğ¢ğ¨ğ§,ğğšğ²,ğ°ğšğ­ğœğ¡
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25339,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25340,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25341,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25342,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25343,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0